#dmp-projects-description {
    width: 100%;
    height: 4em;
    margin: 12px 0 0;
}
#dmp-projects-date-start-container {
    display: flex;
    align-items: center;
}
#dmp-projects-date-start-container p {
    margin-right: 16px;
    flex: 1;
}
#dmp-projects-date-start-container input {
    width: 100%;    
}

#dmp-projects-date-start-container input.error {
    border: 1px solid #ca0000;
}

#dmp-projects-date-start-container input:read-only{
    opacity: .6;
}

#dmp-projects-issues {
    width: 100%;
    margin: 10px 0 0 0;
}

#dmp-projects-issues-selected-issues {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dmp-projects-issue-container {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.dmp-projects-issue-container:first-child {
    margin-left: 0;
}

.dmp-projects-issue-container:last-child {
    margin-right: 0;
}

.dmp-projects-delete-issue {
    cursor: pointer;
    font-size: 25px;
    transform: rotate(45deg);
    display: inline-block;
    margin-left: 5px;
    color: red;
}